.color-gold {
  color: gold;
}
.color-theme,
.color-primary {
  color: #3351ff;
}
.color-success {
  color: #19be6b;
}
.color-warning {
  color: #ff9900;
}
.color-info {
  color: #2db7f5;
}
.color-error {
  color: #ed4014;
}
.color-content {
  color: #515a6e;
}
.color-title {
  color: #333;
}
.color-sub {
  color: #808695;
}
.color-disabled {
  color: #c5c8ce;
}
.fw-b {
  font-weight: bold;
}
.fw-600 {
  font-weight: 600;
}
.td-line-through {
  text-decoration: line-through;
}
.td-underline {
  text-decoration: underline;
}
img {
  vertical-align: middle;
}
a {
  color: inherit;
}
a:hover {
  color: #3351ff;
}
.d-none {
  display: none;
}
.ta-l {
  text-align: left !important;
}
.ta-c {
  text-align: center !important;
}
.ta-r {
  text-align: right !important;
}
.in1line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.in2line {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}
.nowrap {
  white-space: nowrap;
  flex-wrap: nowrap;
}
.flex-nowrap {
  flex-wrap: nowrap;
}
.word-wrap {
  white-space: normal;
  word-break: break-all;
  word-wrap: normal;
}
.noborder {
  border: none !important;
}
.float-right {
  float: right;
}
.float-right::before,
.float-right::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.float-left {
  float: left;
}
.float-left::before,
.float-left::after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#app {
  background-color: #f6f6f6;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#app.printpage {
  background-color: #fff;
}
#app.printpage .share-header {
  display: none !important;
}
#app.printpage .share-main {
  width: 100%;
  min-width: 100%;
  min-height: auto;
  padding: 12px 60px 24px 60px;
}
.share-header {
  z-index: 100;
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  width: 100vw;
  max-width: 100vw;
  height: 64px;
}
.share-header .header-wrapper {
  position: relative;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 100%;
  height: 100%;
  padding: 0 64px;
  background: #fff;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.05);
  transition: all 0.3s ease-in-out;
}
.share-header .header-wrapper .left-part {
  display: flex;
  align-items: center;
}
.share-header .header-wrapper .left-part .logo-img {
  height: 45px;
  margin-right: 24px;
  object-fit: contain;
}
.share-header .header-wrapper .left-part .menu-icon-box {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 64px;
  justify-content: center;
  align-items: center;
  background-color: #3351ff;
}
.share-header .header-wrapper .left-part .menu-icon-box.mobile {
  display: flex;
}
.share-header .header-wrapper .left-part .menu-icon-box .menu-icon {
  width: 32px;
}
.share-header .header-wrapper .right-part {
  display: -webkit-flex;
  display: flex;
  align-items: center;
}
.share-header .header-wrapper .right-part .item {
  margin-left: 28px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.share-header .header-wrapper .right-part .item:hover {
  color: #3351ff;
}
.share-header .header-wrapper .right-part .item .iconfont {
  font-size: 16px;
  margin-right: 2px;
}
.share-header .header-wrapper .right-part .item .icon-text {
  font-size: 12px;
}

.share-header .share-button {
    color: #fff;
    font-weight: 500;
    background-color: #3751F1;
    padding: 8px 12px;
    font-size: 12px;
    border-radius: 10px;
}

.share-main {
  box-sizing: border-box;
  position: relative;
  width: 65vw;
  min-width: 65vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 48px;
  padding-top: 64px;
  background-color: #fff;
}
.share-main .main-wrapper {
  z-index: 2;
  position: relative;
  background-color: transparent;
}
.share-main .main-header .title-tip {
  line-height: 24px;
  text-align: center;
  font-size: 15px;
  color: #333;
}
.share-main .main-header .wrapper {
  position: relative;
  padding: 24px 40px;
  overflow: hidden;
}
.share-main .main-header .wrapper .left-part {
  position: absolute;
  left: 40px;
  top: 33%;
}
.share-main .main-header .wrapper .left-part .logo-img {
  width: 50px;
  object-fit: contain;
}
.share-main .main-header .wrapper .right-part .qrcode-box {
  text-align: center;
}
.share-main .main-header .wrapper .right-part .qrcode-box .qr-img {
  width: 75px;
  object-fit: contain;
}
.share-main .main-header .wrapper .right-part .tip {
  margin-top: 4px;
  color: #808695;
  font-size: 13px;
}
.share-main .main-title {
  padding: 24px;
}
.share-main .main-title .text {
  line-height: 32px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.share-main .section-part {
  padding-top: 16px;
  margin-bottom: 40px;
}
.share-main .section-part .part-title {
  font-size: 15px;
  line-height: 24px;
  padding-bottom: 12px;
}
.share-main .section-part .list-box-wrapper .detail-table-box {
  width: 100%;
  max-width: 100%;
}
.share-main .section-part .list-box-wrapper .detail-table-box .detail-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 2px;
  border-radius: inherit;
}
.share-main .section-part .list-box-wrapper .detail-table-box .detail-table tbody tr td {
  border: 1px solid #bbb;
}
.share-main .section-part .list-box-wrapper .detail-table-box .detail-table tbody tr td.left-row {
  width: 25%;
  background-color: rgba(43, 133, 228, 0.4);
  -webkit-print-color-adjust: exact;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  padding: 8px 24px;
  color: #333;
}
.share-main .section-part .list-box-wrapper .detail-table-box .detail-table tbody tr td.right-row {
  width: 75%;
  text-align: left;
  padding: 8px 16px;
  font-size: 13px;
  white-space: normal;
  word-break: break-all;
  word-wrap: normal;
}
.share-main .section-part .list-box-wrapper .table-box {
  width: 100%;
  max-width: 100%;
}
.share-main .section-part .list-box-wrapper .table-box .share-table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  border-spacing: 2px;
  border-radius: inherit;
}
.share-main .section-part .list-box-wrapper .table-box .share-table tbody tr .td {
  border: 1px solid #bbb;
  padding: 12px 16px;
  text-align: center;
  font-size: 12px;
  -webkit-print-color-adjust: exact;
}
.share-main .section-part .list-box-wrapper .table-box .share-table tbody tr .th {
  text-align: center;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(43, 133, 228, 0.4);
  border: 1px solid #bbb;
}
.share-main .section-part .list-box-wrapper .table-box .share-table tbody tr .th .cel {
  padding: 10px 16px;
  -webkit-print-color-adjust: exact;
}
.share-main .main-bottom-text {
  padding-top: 48px;
  line-height: 24px;
  font-size: 15px;
}
.share-editor-container .wangeditor-htmltext-wrapper {
  padding: 24px;
  border: 1px solid #bbb;
  border-radius: 6px;
}
.share-editor-container .wangeditor-htmltext-wrapper .wangeditor-htmltext-box p {
  line-height: 1.5;
  font-size: 14px !important;
  word-break: break-all;
}
.share-editor-container .wangeditor-htmltext-wrapper .wangeditor-htmltext-box a {
  color: #5cadff !important;
}
.share-editor-container .wangeditor-htmltext-wrapper .wangeditor-htmltext-box * {
  max-width: 100%;
}
.share-editor-container .wangeditor-htmltext-wrapper .wangeditor-htmltext-box ul,
.share-editor-container .wangeditor-htmltext-wrapper .wangeditor-htmltext-box ol {
  font-size: 14px;
}
.share-editor-container .wangeditor-htmltext-wrapper .wangeditor-htmltext-box pre code,
.share-editor-container .wangeditor-htmltext-wrapper .wangeditor-htmltext-box div {
  word-break: normal;
  overflow-x: hidden;
  //white-space: normal;
}
.share-editor-container .wangeditor-htmltext-wrapper .wangeditor-htmltext-box img {
  cursor: zoom-in !important;
}
.share-editor-container .wangeditor-htmltext-wrapper .wangeditor-htmltext-box img:hover {
  box-shadow: 0 0 4px #808695;
}
#app_expire {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: #f7f8f9;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
#app_expire .expire-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app_expire .expire-wrapper .content {
  position: relative;
  width: 25%;
  padding: 36px;
  border-radius: 8px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border: 1px solid #eee;
}
#app_expire .expire-wrapper .content .content-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
#app_expire .expire-wrapper .content .content-wrapper .left-logo {
  margin-right: 48px;
}
#app_expire .expire-wrapper .content .content-wrapper .left-logo .logo-img {
  width: 80px;
  object-fit: contain;
}
#app_expire .expire-wrapper .content .content-wrapper .right-text {
  text-align: left;
  color: #515a6e;
  font-size: 20px;
  font-weight: bold;
}
#app_expire .expire-wrapper .content .tiplink {
  position: absolute;
  right: 0;
  bottom: 16px;
  left: 0;
  padding-top: 16px;
  text-align: center;
  font-size: 16px;
  color: #808695;
}
#app_auth {
  width: 100vw;
  max-width: 100vw;
  height: 100vh;
  max-height: 100vh;
  background-color: #f7f8f9;
}
#app_auth .auth-wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#app_auth .auth-wrapper .content {
  position: relative;
  width: 30%;
  padding: 24px 36px 48px 36px;
  border-radius: 8px;
  box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.05);
  background-color: #fff;
  border: 1px solid #eee;
}
#app_auth .auth-wrapper .content .top-logo {
  margin-bottom: 24px;
  text-align: center;
}
#app_auth .auth-wrapper .content .top-logo .logo-img {
  width: 80px;
  object-fit: contain;
}
#app_auth .auth-wrapper .content .bottom-part .user-tip {
  margin-bottom: 12px;
  text-align: center;
  font-size: 14px;
  color: #808695;
}
#app_auth .auth-wrapper .content .bottom-part .pwd-box {
  display: flex;
  align-items: center;
  padding: 16px 24px;
  background-color: #f8f9f7;
  border-radius: 8px;
}
#app_auth .auth-wrapper .content .bottom-part .pwd-box .form-item-box {
  flex: 1;
  margin-right: 36px;
}
#app_auth .auth-wrapper .content .bottom-part .pwd-box .right-icon-enter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #3351ff;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
#app_auth .auth-wrapper .content .bottom-part .pwd-box .right-icon-enter:hover {
  background-color: #5b79ff;
}
#app_auth .auth-wrapper .content .bottom-part .form-item-box {
  display: flex;
  flex-direction: column;
}
#app_auth .auth-wrapper .content .bottom-part .form-item-box.formitem-validate-error .form-input {
  border-color: #ff4d4f !important;
  background-color: #fff !important;
}
#app_auth .auth-wrapper .content .bottom-part .form-item-box.formitem-validate-error .form-input:focus {
  border-color: #ff7875 !important;
  box-shadow: 0 0 0 2px rgba(255, 77, 79, 0.2) !important;
  border-right-width: 1px !important;
  outline: 0 !important;
}
#app_auth .auth-wrapper .content .bottom-part .form-item-box.formitem-validate-error .input-error-msg {
  display: block !important;
}
#app_auth .auth-wrapper .content .bottom-part .form-item-box .input-error-msg {
  display: none;
  position: absolute;
  bottom: -16px;
  left: 0;
  line-height: 16px;
  font-size: 12px;
  color: #de350b;
  text-align: left;
}
#app_auth .auth-wrapper .content .bottom-part .form-item-box .form-label-box {
  font-size: 14px;
  line-height: 28px;
}
#app_auth .auth-wrapper .content .bottom-part .form-item-box .form-label-box .name-box {
  display: inline-block;
  text-align: left;
  color: #333;
}
#app_auth .auth-wrapper .content .bottom-part .form-item-box .form-label-box .name-box .name-label.required::after {
  display: inline-block;
  margin-left: 8px;
  color: #de350b;
  font-size: 14px;
  line-height: 1;
  content: "*";
}
#app_auth .auth-wrapper .content .bottom-part .form-item-box .form-input-box {
  position: relative;
}
#app_auth .auth-wrapper .content .bottom-part .form-item-box .form-input-box .form-input {
  padding: 8px 11px;
  line-height: 22px;
  border-radius: 4px;
  box-sizing: border-box;
  margin: 0;
  font-variant: tabular-nums;
  list-style: none;
  font-feature-settings: "tnum", "tnum";
  position: relative;
  display: inline-block;
  width: 100%;
  min-width: 0;
  padding: 4px 11px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  line-height: 1.5715;
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
}
#app_auth .auth-wrapper .content .bottom-part .form-item-box .form-input-box .form-input:focus {
  border-color: #57a0ff;
  box-shadow: 0 0 0 2px rgba(44, 126, 248, 0.2);
  border-right-width: 1px;
  outline: 0;
}
#app_auth .auth-wrapper .content .tiplink {
  position: absolute;
  right: 0;
  bottom: 16px;
  left: 0;
  padding-top: 16px;
  text-align: center;
  font-size: 16px;
  color: #808695;
}
.article-page-container {
  display: flex;
  justify-content: center;
  padding-top: 64px;
}
.article-page-container .left-menu {
  position: fixed;
  left: 0;
  top: 64px;
  max-height: calc(100vh - 64px);
  width: 240px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 16px;
  box-sizing: border-box;
  overflow-y: auto;
  font-size: 16px;
}
.article-page-container .left-menu .a-actived {
  color: #3351ff !important;
}
.article-page-container .left-menu .menu-title {
  padding: 12px 8px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}
.article-page-container .left-menu .main-menu-item-wrap {
  width: 100%;
}
.article-page-container .left-menu .main-menu-item-wrap .main-item {
  line-height: 32px;
}
.article-page-container .left-menu .main-menu-item-wrap .sub-menu-item-wrap {
  padding-left: 16px;
}
.article-page-container .left-menu .main-menu-item-wrap .sub-menu-item-wrap .sub-item {
  line-height: 32px;
}
.article-page-container .left-menu .main-menu-item-wrap .son-menu-item-wrap {
  padding-left: 16px;
}
.article-page-container .left-menu .main-menu-item-wrap .son-menu-item-wrap .son-item {
  line-height: 32px;
}
.article-page-container .main-wrapper {
  flex: 1;
  padding: 0 240px 0 240px;
  padding-top: 16px;
}
.article-page-container .main-wrapper.mobile {
  padding: 0px;
  padding-top: 16px;
}
.article-page-container .main-wrapper.mobile .wangeditor-htmltext-wrapper {
  padding: 16px !important;
}
.article-page-container .main-wrapper.mobile .main-title .text {
  padding-left: 26px;
}
.article-page-container .main-wrapper .main-title {
  padding: 24px;
}
.article-page-container .main-wrapper .main-title .text {
  line-height: 32px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}
.article-page-container .right-menu {
  position: fixed;
  right: 0;
  top: 64px;
  max-height: calc(100vh - 64px);
  width: 200px;
  padding-right: 24px;
  padding-top: 16px;
  box-sizing: border-box;
}
.article-page-container .right-menu .table-of-title {
  padding: 12px 8px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}
.article-page-container .right-menu .table-of-contents {
  padding: 10px 0;
  min-height: 150px;
  height: auto;
  overflow: auto;
}
.article-page-container .right-menu .table-of-contents .no-directory {
  padding: 10px 8px;
  text-align: center;
}
.article-page-container .right-menu .table-of-contents .item {
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 8px;
  font-size: 12px;
  cursor: pointer;
  line-height: 1.5 !important;
}
.article-page-container .right-menu .table-of-contents .item.fw-1 {
  font-weight: 800;
}
.article-page-container .right-menu .table-of-contents .item.fw-2 {
  font-weight: 500;
}
.article-page-container .right-menu .table-of-contents .item.fw-3 {
  font-weight: normal;
}
.article-page-container .right-menu .table-of-contents .item:hover {
  background-color: #f9f9f9;
}
.article-page-container .right-menu .table-of-contents .item .item-a.active {
  color: #3351ff !important;
  font-weight: bold;
}
.drawer-container {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 99999;
  background-color: rgba(0, 0, 0, 0.4);
}
.drawer-container .drawer-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.drawer-container .drawer-wrapper .drawer-content {
  position: absolute;
  top: 0;
  left: 0;
  width: 75%;
  height: 100%;
  background-color: #fff;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}
.drawer-container .drawer-wrapper .drawer-content.active {
  transform: translateX(0);
}
.drawer-container .drawer-wrapper .drawer-content .menu-box {
  width: 100%;
  max-height: calc(100vh - 32px);
  overflow-y: auto;
  padding: 16px;
  box-sizing: border-box;
}
.drawer-container .drawer-wrapper .drawer-content .menu-box .a-actived {
  color: #3351ff !important;
}
.drawer-container .drawer-wrapper .drawer-content .menu-box .menu-title {
  padding: 12px 8px;
  border-bottom: 1px solid #eee;
  font-weight: bold;
}
.drawer-container .drawer-wrapper .drawer-content .menu-box .main-menu-item-wrap .main-item {
  height: 32px;
  line-height: 32px;
}
.drawer-container .drawer-wrapper .drawer-content .menu-box .main-menu-item-wrap .sub-menu-item-wrap {
  padding-left: 16px;
}
.drawer-container .drawer-wrapper .drawer-content .menu-box .main-menu-item-wrap .sub-menu-item-wrap .sub-item {
  height: 32px;
  line-height: 32px;
}
.drawer-container .drawer-wrapper .drawer-content .menu-box .main-menu-item-wrap .son-menu-item-wrap {
  padding-left: 16px;
}
.drawer-container .drawer-wrapper .drawer-content .menu-box .main-menu-item-wrap .son-menu-item-wrap .son-item {
  height: 32px;
  line-height: 32px;
}
