@font-face {
  font-family: "iconfont"; /* Project id 4438020 */
  src: url('iconfont.woff2?t=1708572153207') format('woff2'),
       url('iconfont.woff?t=1708572153207') format('woff'),
       url('iconfont.ttf?t=1708572153207') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-jinruGitLab:before {
  content: "\e605";
}

.icon-print:before {
  content: "\e61b";
}

.icon-shuaxin:before {
  content: "\e641";
}

.icon-PDFxiazai:before {
  content: "\e636";
}

